{% extends 'base.html.twig' %}

{% block title %}Add order{% endblock title %}

{% block body %}
    <h2>Add order</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock body %}